<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="log4net.Internal.Debug" value="false"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add
            name="textWriterTraceListener"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="C:\Logs\log4netInternalLogs.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <!--<filter type="log4net.Filter.LevelRangeFilter">
        <levelmin value="WARN"/>
        <levelmax value="ERROR"/>
      </filter>
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="Maintenance"/>
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="ERROR"/>
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="DEBUG"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="Level - %level%newlineMessage - %message%newlineUTC Date - %date{ABSOLUTE}%newlineDate - %date{ABSOLUTE}%newlineLocation - %location%newlineStack Trace - %stacktracedetail{level}%newlineMethod Name - %method%newlineLine Number - %line%newlineException - %exception%newlineTimestamp - %timestamp%newlineCount - %property{Counter}%newline%newline"/>
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="C:\Logs\MyLogfile.txt"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newlineLevel - %level%newlineMessage - %message%newlineUTC Date - %date{ABSOLUTE}%newlineDate - %date{ABSOLUTE}%newlineLocation - %location%newlineStack Trace - %stacktracedetail{level}%newlineMethod Name - %method%newlineLine Number - %line%newlineException - %exception%newlineTimestamp - %timestamp%newlineCount - %property{Counter}%newline%newline"/>
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Logs\RollingFileLog.txt"/>
      <rollingStyle value="Size"/>
      <maximumFileSize value="10MB"/>
      <maxSizeRollBackUps value="5"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newlineLevel - %level%newlineMessage - %message%newlineUTC Date - %date{ABSOLUTE}%newlineDate - %date{ABSOLUTE}%newlineLocation - %location%newlineStack Trace - %stacktracedetail{level}%newlineMethod Name - %method%newlineLine Number - %line%newlineException - %exception%newlineTimestamp - %timestamp%newlineCount - %property{Counter}%newline%newline"/>
      </layout>
    </appender>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelmin value="WARN"/>
        <levelmax value="FATAL"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
      <bufferSize value="5" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=LAPTOP-T7KJKJCH\MYSEVER1;initial catalog=TestDB;integrated security=false;persist security info=True;User ID=SpUser;Password=~\5}WkQPDE@GXj3a" />
      <commandText value="dbo.logs_Insert" />
      <commandType value="StoredProcedure" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@log_thread" />
        <dbType value="AnsiString" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%.50thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="AnsiString" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%.50level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_source" />
        <dbType value="AnsiString" />
        <size value="300" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%.300logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_message" />
        <dbType value="AnsiString" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%.4000message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="AnsiString" />
        <size value="4000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="FileAppender"/>
      <appender-ref ref="RollingFileAppender"/>
      <!--<appender-ref ref="AdoNetAppender"/>
       -->
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>